:root {
    --primary-brand: #4D5AE5;
    --active-state: #404BBF;
    --dark: #2E2F42;
    --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    --transition-stand: cubic-bezier(0.4, 0, 0.2, 1);
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
/* -------------------- CLOBAL TYPOGRAPHY -------------------- */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    text-transform: capitalize;
    color: var(--dark);
    letter-spacing: 0.02em;
}
.sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--dark);
    letter-spacing: 0.02em;
}
.regular-text {
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: #434455;
}
/* -------------------- AUXILIARY -------------------- */
.container {
    padding-inline: 15px;
}
@media screen and (min-width: 480px) {
    .container {
        width: 426px;
        margin: auto;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 766px;
    }
}@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.link {
    text-decoration: none;
}
/* -------------------- HEADER -------------------- */
.header {
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 
        0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-logo {
    color: var(--dark);
}
.text-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
@media screen and (max-width: 767px) {
    .menu {
        display: none
    }
    .header-contacts-wrap {
        display: none
    }
    .page-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 24px;
    }
    .mobile-menu-open {
        background-color: transparent;
        border: none;
        line-height: 0;
        padding: 0;
        cursor: pointer;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }
    .mobile-menu-open-icon {
        overflow: visible;
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        max-height: 796px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        background-color: #FFFFFF;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 
            opacity 250ms var(--transition-stand),
            visibility 250ms var(--transition-stand);
    }
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .mobile-menu-container {
        height: 100%;
        position: relative;
        padding: 80px 40px 40px 40px;
    }
    .mobile-menu-close-btn {
        position: absolute;
        top: 40px;
        right: 15px;
        width: 24px;
        height: 24px;
        background: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 
            background-color 250ms var(--transition-stand),
            fill 250ms var(--transition-stand);
    }
    .mobile-menu-close-btn:hover,
    .mobile-menu-close-btn:focus {
        background-color: var(--active-state);
        fill: #FFFFFF;
    }
    .mobile-nav {
        margin-bottom: 284px;
    }
    .mobile-nav-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .mobile-nav-menu-link {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(40/36);
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--dark);
        transition: 
            color 250ms var(--transition-stand);
    }
    .mobile-nav-menu-link:hover,
    .mobile-nav-menu-link:focus,
    .mobile-nav-menu-link:active {
        color: var(--active-state);
    }
    .current-mobile {
        color: var(--active-state);
    }
    .mobile-contacts-wrap {
        position: absolute;
        bottom: 40px;
        width: calc(100% - 80px);
    }
    .mobile-contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        gap: 40px;
    }
    .mobile-menu-tel {
        font-weight: 600;
        font-size: 36px;
        line-height: calc(40/36);
        text-transform: capitalize;
        color: var(--primary-brand);
        transition: 
            color 250ms var(--transition-stand);
    }
    .mobile-menu-tel:hover,
    .mobile-menu-tel:focus {
        color: var(--active-state);
    }
    .mobile-menu-email {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24/20);
        letter-spacing: 0.02em;
        color: #434455;
    }
    .mobile-menu-email:hover,
    .mobile-menu-email:focus {
        color: var(--active-state);
    }
    .mobile-soc-item {
        width: 40px;
        height: 40px;
    }
    .mobile-soc-link {
        width: 100%;
        height: 100%;
        background-color: var(--primary-brand);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 
            background 250ms var(--transition-stand); 
    }
    .mobile-soc-link:hover,
    .mobile-soc-link:focus {
        background: var(--active-state);
    }
    .mobile-soc-icon {
        fill: #FFFFFF;
    }
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
    .mobile-menu-open {
        display: none;
    }
    .header {
        padding-block: 10px;
    }
    .page-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-nav {
        display: flex;
        align-items: center;
    }
    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .header-contacts-wrap {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .menu-link {
        position: relative;
        font-weight: 500;
        color: var(--dark);
        transition: 
            color 250ms var(--transition-stand);
    }
    .menu-link::after {
        opacity: 0;
        transition: 
            opacity 250ms var(--transition-stand);
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        top: 42px;
        left: 0px;
        background: var(--active-state);
        border-radius: 2px;
    }
    .menu-link:hover::after,
    .menu-link:focus::after {
        opacity: 1;
    }
    .menu-link:focus,
    .menu-link:hover, 
    .menu-link:active {
        color: var(--primary-brand);
    }
    .current {
        color: var(--primary-brand);
    }
    .current::after {
        opacity: 1;
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        top: 42px;
        left: 0px;
        background: var(--active-state);
        border-radius: 2px;
    }
    .header-contacts {
        color: var(--dark);
        transition: 
            color 250ms var(--transition-stand);
    }
    .header-contacts:focus,
    .header-contacts:hover {
        color: var(--primary-brand);
    }
}
@media screen and (min-width: 1200px) {
    .header {
        padding-block: 24px;
    }
    .page-header-container {
        position: relative;
    }
    .header-nav {
        position: absolute;
        left: 191px
    }
    .header-contacts-wrap{
        flex-direction: row;
        gap: 40px;
    }
}
/* -------------------- HERO -------------------- */
.hero {
    background-color: var(--dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    padding-block: 112px;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title {
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}
.order-btn {
    min-width: 169px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--primary-brand);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: 
        background 250ms var(--transition-stand), 
        border-color 250ms var(--transition-stand); 
}
.order-btn:hover,
.order-btn:focus,
.order-btn:active {
    background: var(--active-state);
    border-color: var(--active-state);
}
@media screen and (max-width: 767px) {
    .hero {
        background-image: var(--bg-gradient), url('../images/people_office_mob.webp');
    }
    .hero-title {
        max-width: 318px;
        font-size: 36px;
        line-height: calc(40/36);
        margin-bottom: 72px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: var(--bg-gradient), url('../images/people_office_mob@2x.webp');
    }
}
@media screen and (min-width: 768px) {
    .hero {
        background-image: var(--bg-gradient), url('../images/people_office_tab.webp');
    }
    .hero-title {
        width: 494px;
        font-size: 56px;
        line-height: calc(60/56);
        margin-bottom: 40px;
    }

}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: var(--bg-gradient), url('../images/people_office_tab@2x.webp');
    }

}
@media screen and (min-width: 1200px) {
    .hero {
        padding-block: 188px;
        background-image: var(--bg-gradient), url('../images/people_office.webp');
    }
    .hero-title {
        margin-bottom: 48px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: var(--bg-gradient), url('../images/people_office@2x.webp');
    }
}
/* -------------------- MERITS -------------------- */
.merits {
    padding-block: 96px;
}
.merits-sub-title {
    margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
    .merits-list {
        flex-direction: column;
        gap: 72px;
    }
    .merits-bg {
        display: none;
    }
    .merits-sub-title {
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .merits-container {
        display: flex;
    }
    .merits-item {
        width: calc((100% - 24px)/2);
    }
    .merits-item:nth-last-child(n+3) {
        margin-bottom: 72px;
    }
    .merits-bg {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .merits-sub-title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(40/36);
    }
}
@media screen and (min-width: 1200px) {
    .merits {
        padding-block: 120px;
    }
    .merits-container {
        display: flex;
    }
    .merits-item {
        width: calc((100% - 72px)/4);
    }
    .merits-item:nth-last-child(n+3) {
        margin-bottom: 0;
    }
    .merits-bg {
        display: flex;
        width: 100%;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
}
/* -------------------- ACCOMPLISHMENTS -------------------- */
.accomplishments {
    display: none;
}
@media screen and (min-width: 1200px) {
    .accomplishments {
        display: block;
        padding-bottom: 120px;
    }
    .accomplishments-title {
        margin-bottom: 72px;
    }
}
/* -------------------- TEAM CARDS -------------------- */
.team {
    background: #f4f4fd;
    padding-block: 96px;
}
.team-title {
    margin-bottom: 72px;
}
.team-list {
    justify-content: center;
    gap: 72px;
}
.team-card {
    width: 264px; 
    height: 428px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 
        0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-block: 32px;
    padding-inline: 16px;
}
.team-card-wrap > .regular-text {
    margin-bottom: 8px;
}
.team-soc-list {
    gap: 24px;
}
.team-soc-item {
    width: 40px;
    height: 40px;
}
.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 
        background 250ms var(--transition-stand); 
}
.team-soc-icon {
    fill: #FFFFFF;
}
.team-soc-link:hover,
.team-soc-link:focus {
    background: var(--active-state);
}
@media screen and (min-width: 768px) {
    .team-list {
        gap: 24px;
    }
    .team-card:nth-last-child(n+3) {
        margin-bottom: 64px;
    }
}
@media screen and (min-width: 1200px) {
    .team {
        padding-block: 120px;
    }
    .team-card:nth-last-child(n+3) {
        margin-bottom: 0;
    }
}
/* -------------------- CUSTOMERS -------------------- */
.customers {
    padding-block: 96px;
}
.customer-list {
    justify-content: center;
    margin-top: 72px;
    gap: 72px;
}
.customer-item {
    width: 168px;
    height: 88px;
}
.custome-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #8E8F99;
    transition: 
        border-color 250ms var(--transition-stand), 
        fill 250ms var(--transition-stand); 
}
.custome-link:hover, 
.custome-link:focus {
    border-color: var(--active-state);
    fill: var(--active-state);
}
@media screen and (min-width: 426px) and (max-width: 767px) {
    .customer-list {
        gap: 16px;
    }
    .customer-item {
        width: 190px;
    }
    .customer-item:nth-last-child(n+3) {
        margin-bottom: 72px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .customer-list {
        gap: 24px;
    }
    .customer-item:nth-last-child(n+4) {
        margin-bottom: 72px;
    }
}
@media screen and (min-width: 1200px) {
    .customers {
        padding-block: 120px;
    }
    .customer-list {
        gap: 24px;
    }
    .customer-item {
        width: calc((100% - 120px)/6);
        height: 88px;
    }
}
/* -------------------- PORTFOLIO -------------------- */
.projects-filters {
    justify-content: center;
    margin: auto;
    gap: 24px;
}
.filter-btn {
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    padding-inline: 24px;
    padding-block: 12px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    transition: 
        box-shadow 250ms var(--transition-stand), 
        background 250ms var(--transition-stand), 
        border-color 250ms var(--transition-stand), 
        color 250ms var(--transition-stand);
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
    background: var(--active-state);
    box-shadow: 
        0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 2px 1px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--active-state);
    color: #FFFFFF;
}
/* .card:nth-last-child(n+4) {
    margin-bottom: 48px;
} */
.project-card {
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms var(--transition-stand);
}
.card-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-block: 32px;
    padding-inline: 16px;
}
.card:hover,
.card:focus {
    border: 1px solid #F4F4FD;
    box-shadow: 
        0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
}    
.img-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.projects-overlay {
    position: absolute;
    background: var(--primary-brand);
    padding: 40px 32px;
    color: #F4F4FD;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms var(--transition-stand);
}
.projects-list-link-wrap:hover .projects-overlay,
.projects-list-link-wrap:focus .projects-overlay {
    transform: translate(0, 0)
}
@media screen and (max-width: 767px) {
    .projects {
        padding-block: 48px;
    }
    .projects-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }
    .projects-filters {
        max-width: 275px;
    }
    .filter-btn {
        padding-inline: 16px;
        padding-block: 8px;
    }
    .project-card {
        max-width: 392px; 
        max-height: 400px;
    }
    .project-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }
    .img-wrapper {
        max-height: 280px;
    }
}
@media screen and (min-width: 428px) {
    .project-card {
        width: 392px; 
    }
}
@media screen and (min-width: 768px) {
    .projects {
        padding-block: 64px;
    }
    .projects-container {
        display: grid;
        gap: 64px;
    }
    .project-card {
        width: 356px;
        height: 420px; 
    }
    .img-wrapper {
        height: 300px;
    }
    .project-card:nth-last-child(n+2) {
        margin-bottom: 72px;
    }
}
@media screen and (min-width: 1200px) {
    .projects {
        padding-top: 96px;
        padding-bottom: 120px;
    }
    .projects-container {
        gap: 72px;
    }
    .project-card {
        width: 360px; 
    }
    .project-card:nth-last-child(n+2) {
        margin-bottom: 0;
    }
    .project-card:nth-last-child(n+4) {
        margin-bottom: 48px;
    }
}
/* -------------------- FOOTER MAIN -------------------- */
.footer {
    background: var(--dark);
    padding-block: 96px;
}
.footer-container {
    display: flex;
}
.footer-logo {
    color: #F4F4FD;
}
.footer-txt {
    width: 264px;
    color: #E7E9FC;
}
/* -------------------- FOOTER SOCIAL -------------------- */
.social-txt {
    font-weight: 500;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.social-list {
    flex-wrap: nowrap;
    gap: 16px;
}
.social-item {
    width: 40px;
    height: 40px;
}
.social-link {
    width: 100%;
    height: 100%;
    background-color: #ffffff1a;;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #F4F4FD;
    transition: background-color 250ms var(--transition-stand);
}
.social-link:hover,
.social-link:focus,
.social-link:active {
    background-color: #31D0AA;
}
/* -------------------- FOOTER SUBSCRIBE -------------------- */
.subscribe-input-field {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.subscribe-input-txt {
    font-weight: 500;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.subscribe-input-form {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--dark);
    padding: 8px 16px;
    color: #FFFFFF;
}
.subscribe-wrap {
    display: flex;
    align-items: center;
    gap: 24px;
}
.subscribe-form-btn {
    height: 40px;
    padding: 8px 24px;
    gap: 16px;
    background: var(--primary-brand);
    border-color: var(--primary-brand);
    border-radius: 4px;
    border-style: solid;
    font-weight: 500;
    line-height: calc(24/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    fill: #FFFFFF;
    transition: 
        background 250ms var(--transition-stand),
        border-color 250ms var(--transition-stand);
}
.subscribe-form-btn:hover,
.subscribe-form-btn:focus,
.subscribe-form-btn:active {
    background: var(--active-state);
    border-color: var(--active-state);
}
/* -------------------- FOOTER MEDIA -------------------- */
@media screen and (max-width: 767px) {
    .footer {
        text-align: center;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-precept {
        margin-bottom: 72px;
    }
    .footer-txt {
        text-align: left;
        margin: auto;
        margin-top: 16px;
    }
    .social {
        margin-bottom: 72px;
    }
    .social-list {
        justify-content: center;
    }
    .subscribe-wrap {
        flex-direction: column;
        gap: 16px;
    }
    .subscribe-input-form {
        width: 100%;
        max-width: 396px;
    }
}
@media screen and (min-width: 768px) {
    .footer-container {
        flex-wrap: wrap;
        padding-inline: 107px;
    }
    .footer-precept {
        margin-right: 24px;
    }
    .subscribe {
        margin-top: 72px;
    }
}
@media screen and (min-width: 1200px) {
    .footer {
        padding-block: 100px;
    }
    .footer-container {
        flex-wrap: nowrap;
        padding-inline: 15px;
    }
    .footer-precept {
        margin-right: 120px;
    }
    .footer-txt {
        margin-top: 16px;
    }
    .social {
        margin-right: 80px;
    }
    .social-list {
        gap: 16px;
    }
    .subscribe {
        margin-top: 0;
    }
}
/* -------------------- MODAL WINDOW -------------------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    z-index: 100;
    transition: 
        opacity 250ms var(--transition-stand),
        visibility 250ms var(--transition-stand);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #FCFCFC;
    box-shadow: 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-top: 72px;
    padding-bottom: 24px;
    padding-inline: 24px;
}
.modal-close-btn {
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    transition:
        background 250ms var(--transition-stand),
        fill 250ms var(--transition-stand);
}
.modal-close-btn-icon {
    width: 8px;
    height: 8px;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--active-state);
    fill: #FFFFFF;
}
.modal-txt {
    font-weight: 500;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 14px;
}
/* -------------------- MODAL FORM -------------------- */
.contact-form {
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
}
.contact-form-input-wrap {
    display: block;
    position: relative;
    margin-bottom: 8px;
}
.contact-form-input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.04em;
    padding: 8px 16px 8px 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 
        border-color 250ms var(--transition-stand);
}
.contact-form-input:focus {
    border-color: var(--primary-brand);
    outline: none;
}
.contact-form-input:focus + .contact-form-input-icon {
    fill: var(--primary-brand);
}
.contact-form-input-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 16px;
    transition: 
        fill 250ms var(--transition-stand);
}
.contact-form-message {
    width: 100%;
    height: 120px;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.04em;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: 
        border-color 250ms var(--transition-stand);
}
.contact-form-message:focus {
    border-color: var(--primary-brand);
    outline: none;
}
.contact-form-input-txt {
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
    text-align: justify;
}
.contact-form-fieldset-wrap {
    display: flex;
    margin-bottom: 24px;
}
.contact-form-check {
}
.contact-form-check:checked + .contact-form-fieldset-desc::before {
    background-color: var(--active-state);
    border: 1.25px solid var(--active-state);
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.contact-form-check:focus + .contact-form-fieldset-desc::before {
    outline: auto;
    outline-color: #000000;
}
.contact-form-fieldset-desc::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--dark);
    border-radius: 2px;
    outline: var(--dark);
    cursor: pointer;
    margin-right: 8px;
}
.contact-form-fieldset-desc {
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
    align-items: center;
}
.contact-form-fieldset-link {
    color: var(--primary-brand);
    display: contents;
}
.contact-form-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form-btn {
    padding: 16px 32px;
    gap: 10px;
    width: 169px;
    height: 56px;
    background: var(--primary-brand);
    border-color: var(--primary-brand);
    border-style: solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: 
        background 250ms var(--transition-stand),
        border-color 250ms var(--transition-stand);
}
.contact-form-btn:hover,
.contact-form-btn:focus {
    background: var(--active-state);
    border-color: var(--active-state);
}
@media screen and (max-width: 767px) {
    .modal {
        width: 392px;
        padding-inline: 16px;
    }
}
@media screen and (max-width: 425px) {
    .modal {
        width: 95%;
        padding-inline: 16px;
    }
    .contact-form-fieldset-desc {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}